{:kotoba.app/id "cloud.itonami.isic-4911", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihvowmlf2tdrmz2wr3vk7pcumsny44gvm5eqbd27r3dy4s6f53cvm", :kotoba.app/embed-url "ipfs://bafkreihvowmlf2tdrmz2wr3vk7pcumsny44gvm5eqbd27r3dy4s6f53cvm", :published {:archive "https://kotobase.net/ipfs/bafkreihvowmlf2tdrmz2wr3vk7pcumsny44gvm5eqbd27r3dy4s6f53cvm", :size 72546, :put-status 201, :get-status 200, :at "2026-08-15T13:42:06.805Z"}}
